# Exclude test files from the extension package
src/test/**

# Exclude unnecessary files and directories
.vscode/**
.vscode-test/**
test/**
node_modules/**
coverage/**
docs/**
.gitignore
.vscodeignore
.yarn.lock
package-lock.json
tsconfig.json
tsconfig.prod.json
webpack.config.js
.eslintignore
.eslintrc.*
.prettierrc
.prettierignore
*.md
**/*.map
**/*.ts
.git/**
images/icon128.png

# Include the compiled output directory
!out/**
!package.json
!README.md
!LICENSE
